.button {
  background-color: #E59898;
  color: black;

  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: #B5838D;
    color: black;
    transition: 0.1s;
  }
}