@mixin set-book-shadow {
  & > .shelf-book__container {
    box-shadow: 8px 8px 10px 0px grey;
    margin-left: 0;
    margin-right: 0;
  }
}

.club__banner {
  display: flex;
  align-items: center;
  background-color: #f5f3f4;
  margin-top: 80px;
  padding: 50px;
}

.club__banner-image-container {
  width: 200px;
  height: 200px;
}

.club__banner-image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}

.club__banner-info {
  margin-left: 30px;

  & > h1 {
    font-size: 60px;
    margin: 0;
  }
}

.club__banner-description {
  margin-top: 5px;
  font-size: 20px;
}

.club__container {
  padding-left: 50px;
  & > h1 {
    margin-top: 50px;
  }
}

.club__members {
  font-size: 18px;
}

.club__current-book {
  width: fit-content;
  @include set-book-shadow;
}

.club__pick-or-finished-btn {
  margin-top: 30px;
}

.club__finished-books {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.club__finished-book {
  margin-right: 30px;
  margin-bottom: 30px;
  @include set-book-shadow;
}