@mixin form-input {
  width: 400px;

  border: solid 0.5px #212529;
  padding: 10px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.create-club__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.create-club__form {
  display: flex;
  flex-direction: column;

  & > span {
    margin: 5px;
    margin-bottom: 10px;
  }
}

.create-club__name {
  @include form-input;
}

.create-club__description {
  @include form-input;
  height: 150px;
  resize: none;
}

.create-club__image-url {
  @include form-input;
  margin-bottom: 30px;
}

.create-club__input-counter {
  text-align: right;
  font-weight: 700;
  font-size: large;

  &.max {
    color: red;
  }
}