.main__container {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.main__banner {
  display: flex;
}

.main__banner--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__banner--right {
  width: 500px;
}

.main__banner-image {
  width: inherit;
  height: inherit;
}

.main__bookclubs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main__bookclubs {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
}