$icon-size: 85px;
$skip-color: #FF315C;
$like-color: #54E9BA;

$skip_icon_before: url('../../assets/images/skip-before.png');
$skip_icon_after: url('../../assets/images/skip-after.png');
$like_icon_before: url('../../assets/images/like-before.png');
$like_icon_after: url('../../assets/images/like-after.png');

@mixin skip-like-btn {
  width: $icon-size;
  height: $icon-size;
  background-size: contain;
  cursor: pointer;
}

.matchbook__tag-line {
  width: 100%;
  margin-top: 85px;
  text-align: center;
  font-size: larger;
  font-weight: 900;
}

.matchbook__main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 10px;
}

.genres-container {
  width: 250px;
  height: 400px;
  background-color: #F7E3B0;

  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid lightgray;

  font-weight: 600;
}

.genre {
  background-color: #F7D2AC;
  
  margin-top: 5px;
  padding: 3px 0px 3px 15px;
  border: 1px solid black;

  cursor: pointer;
}

.genre:hover {
  background-color: white;
}

.genre.selected {
  background-color: white;
  font-weight: 900;
  border: 1.5px solid black;
  transform: translateX(-10px);
}

.matchbook__container {
  width: 400px;
  position: relative;
  background-color: rgb(248, 243, 243);

  border: 2px solid gray;
  border-radius: 0px 10px 10px;
  box-shadow: 5px 5px 5px lightgray;

  margin-bottom: 50px;
}

@mixin loading {
  height: 100%;
  position: absolute;
  background-color: lightgray;
  z-index: 1;
  overflow: hidden;
  transition: width 0.25s;
}

.loading-cover {
  @include loading;
  width: 0%;
}

.loading-cover--show {
  @include loading;
  width: 100%;
}

.loading-cover.liked,
.loading-cover--show.liked {
  background-color: $like-color;
}

.loading-cover.skipped,
.loading-cover--show.skipped {
  background-color: $skip-color;
}

.loading-cover-icon {
  width: 250px;
  opacity: 0.15;
  margin-left: 70px;
  margin-top: 200px;
}

.matchbook__canvas-container {
  height: 300px;
}

.basic-info-container {
  padding: 20px;
  font-size: large;
}

.basic-info-title {
  height: 55px;
  font-size: larger;
  font-weight: 500;
}

.basic-info-description {
  width: 350px;
  height: 200px;
  background-color: white;
  overflow-y: scroll;
  font-size: medium;
  padding: 10px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.skip-icon {
  @include skip-like-btn;
  background-image: $skip_icon_before;
  &:hover {
    background-image: $skip_icon_after;
  }
}

.like-icon {
  @include skip-like-btn;
  background-image: $like_icon_before;
  &:hover {
    background-image: $like_icon_after;
  }
}