.profile__banner {
  height: 150px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  background-color: #A4D1EF;
  color: white;
}

.profile__banner-image {
  margin: 20px;
}

.profile__start-club-btn {
  width: 200px;
  margin-top: 20px;
}

.profile__clubs-container {
  margin: 20px;
}

.profile__clubs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.profile__club-detail {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.profile__club-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.profile__club-details-container {
  display: flex;
  flex-direction: column;
}

.profile__club-link {
  color: black;

  &:hover {
    color: #545454;
  }
}