.search__container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.search__form {
  display: flex;
}

.search__input {
  width: 700px;
  padding: 10px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.search__btn-container {
  margin-left: 20px;
}

.search__filters-container {
  margin-right: 500px;
  margin-top: 10px;
}

.results__container {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.results__pagination-btn {
  display: none;
}

.results__pagination-btn--show {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}